/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600'); */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,600');

:root {
  --backgfooterround: rgba(255, 255, 255, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: white;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}

.content {
  /*height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: white;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center; */
	border-bottom-style: solid;
	border-bottom-color: #17374c;
	border-bottom-width: 1.5em;
}

.wrapper {
  display: grid;
}

.logo > img {
    min-width:111px;
    width:15%;
    height:15%;
}

.footer {
        grid-area: footer;
        background-color: #09657e;
}

.wrapper-footer {
	max-width: 940px;
	margin: 0 0px;
	display: grid;
        justify-items: center;
	grid-gap: 10px;
	/*border: 1px;
	border-style: solid;
	border-color: red;*/
	grid-template-areas:
		"footer"
		"left-footer"
		"right-footer"
		"center-footer"
		"bottom-footer";
}

.main-footer {
	display: grid;
	justify-items: center;
	padding-top: 75px;
	padding-bottom: 25px;
	grid-area: footer;
	/*background-color: #014052;*/
	background-color: #255b76;
        /*border: 1px;
        border-style: solid;
        border-color: yellow;*/
        padding-left: 0.2em;
        padding-right: 0.2em;
}


.main-footer a:link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main-footer a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main-footer a:hover {
  text-decoration: underline;
  color: white;
  font-weight: normal;
}

.main-footer a:active {
  text-decoration: underline;
}

.left-footer {
	display: grid;
	grid-area: left-footer;
	justify-items: center;
	padding-bottom: 40px;
	padding-top: 1em;
}


.left-footer > img {
	width: 70%;
}

.center-footer {
	display: grid;
	grid-area: center-footer;
	justify-items: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.8em;
	color: #feffff;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	font-size: 1.2em;
	text-align: justify;
        text-justify: inter-word;
}

.center-footer-content-h1 {
  padding-bottom: 20px;
}

.center-footer-content {
  padding-bottom: 10px;
}

.right-footer {
	display: grid;	
	grid-area: right-footer;
	justify-items: center;
	font-family: 'Noto Sans', sans-serif;
}

/*
#squared-corner1 {
  position:relative;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  border:10px solid white;
}

#squared-corner2 {
  position:relative;
  top:-100%;
  left:30%;
  height:70%;
  width:70%;
  background-color: #255b76;
}

#squared-corner3 {
  position:relative;
  top:-140%;
  left:0%;
  height:70%;
  width:70%;
  background-color: #255b76;
}
*/

#squared-content {
  position: relative;
  /* top: -230%; */
  left: 0px;
  height: 100%;
  width: 100%;
  color: white;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
}

.bottom-footer {
	display: grid;
	grid-area: bottom-footer;
	justify-content: center;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
	font-size: 1.2em;
}

.bottom-footer-left {
	grid-column: 1;
	background-color: red;
	text-align: center;
}

.bottom-footer-right {
	grid-column: 2;
	/*background-color: yellow;*/
	text-align: center;
}


.svgskyline {
    margin-top: 100px;

        /* width: 100%;
        height: 100%; */

        /* top: 0;
        left: 0;*/
        opacity: 0.8;  
}

.three-column-skyline {
	margin-top: 1em;
        display: grid;
        grid-template-areas:
                "left-three-column-content"
                "center-three-column-skyline"
                "right-three-column-content";
        font-size: 150%;
}

        .center-three-column-skyline {
                grid-area: center-three-column-skyline;
		/*position: relative; */
        }

	.box-stack-top {
		/* z-index: 9; */
		font-size: 1em; 
		padding:1em; 
		text-align:center; 
		background:#465e70;
		color: white;
	}

.three-column-content {
        /* margin: 0 0px; */
	margin-top: 150px;
	display: grid;
        grid-template-areas:
                "left-three-column-content"
                "center-three-column-content"
                "right-three-column-content";

	font-size: 150%;
}

	.three-column-content a:link {
		text-decoration: none;
		color: black;
		font-weight: bold;
	}

	.three-column-content a:visited {
		text-decoration: none;
		color: grey;
		font-weight: bold;
	}
	
	.three-column-content a:hover {
		text-decoration: underline;
		color: grey;
		font-weight: normal;
	}

	.three-column-content a:active {
		text-decoration: underline;
	}

/* Avvocati page only temporary */
.three-column-content-avv {
        /* margin: 0 0px; */
        margin-top: 0px;
        display: grid;
        grid-template-areas:
                "left-three-column-content"
                "center-three-column-content"
                "right-three-column-content";

        font-size: 150%;
}

        .three-column-content-avv a:link {
                text-decoration: none;
                color: black;
                font-weight: bold;
        }

        .three-column-content-avv a:visited {
                text-decoration: none;
                color: grey;
                font-weight: bold;
        }

        .three-column-content-avv a:hover {
                text-decoration: underline;
                color: grey;
                font-weight: normal;
        }

        .three-column-content-avv a:active {
                text-decoration: underline;
        }

/* Avvocati page only temporary */

	.left-three-column-content {
		grid-area: left-three-column-content;
		display: none;
	}

	.left-three-column-content {
		padding-bottom: 0.4em;
	}

	.left-three-column-content2 {
		grid-area: left-three-column-content;
		text-align: center;
	}

		.ul-areeattivita {
			list-style-type: none;
			padding-left:0em;
		}

		.ul-areeattivita li {
			text-align:center;
		}

		.ul-areeattivita ul {
			padding-left:0em;
		}

		.ul-professionisti {
			list-style-type: none;
			padding-left: 0;
		}

		.ul-professionisti ul {
			padding-left:0;
		}

		.ul-professionisti-avv {
			display: none;
		}

		.left-three-column-content2 ul ul {
			display: none;
			list-style-type: none;
		}

		.left-three-column-content2 ul li:hover ul {
			display: block;
			list-style-type: none;
		}

	.center-three-column-content {
		grid-area: center-three-column-content;
		padding-left:0.5em;
		padding-right:0.5em;
	}
		.three-column-content h1 {
			font-size: 140%;
			color: #255b76;
		}

		.three-column-content h2 {
			font-size: 80%;
			color: #255b76;
		}

                .three-column-content-avv h1 {
                        font-size: 140%;
                        color: #255b76;
                }

                .three-column-content-avv h2 {
                        font-size: 80%;
                        color: #255b76;
                }

		.content1 {
			margin-bottom: 30px;
		}


	.center-three-column-content-i-professionisti {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		text-align: center;
		column-gap: 3em;
  		row-gap: 3em;


	}

	.hidden {
		display: none;
	}

	/* avvocato page mobile */

	.avvocato-page-content-wrapper {
	        margin-top: 150px;
	        display: grid;
        	grid-template-areas:
                	"avvocato-page-content-header"
                	"avvocato-page-content-left"
                	"avvocato-page-content-right"
			"avvocato-page-content-footer";
	        /*font-size: 150%;*/
		justify-items: center;
	        grid-gap: 1em;
	}

	.avvocato-page-content-header {
		grid-area: avvocato-page-content-header;
	}

	.avvocato-page-content-left {
		grid-area: avvocato-page-content-left;
	}

	.avvocato-page-content-left img {
		    max-width: 100vw;
    width: auto;
	}

	.avvocato-page-content-right {
		grid-area: avvocato-page-content-right;
		padding-left:0.5em;
		padding-right:0.5em;
		text-align: justify;
	}

	.avvocato-page-content-footer {
		grid-area: avvocato-page-content-footer;
		text-align: center;
	}

	.center-three-column-content-i-professionisti img {
		max-width: 9em;
	}

	.right-three-column-content {
		grid-area: right-three-column-content;
	}

                .right-three-column-content ul ul {
                        display: block;
                        list-style-type: none;
                }

		.right-three-column-content li {
			padding-bottom: 0.4em;
		}

                .right-three-column-content ul li:hover ul {
                        display: block;
			list-style-type: none;
                }

.float1_container {
	text-align: justify;
        text-justify: inter-word;
	margin-right: 2px;
	margin-left: 2px;
}
	.float1_container h1 {
		text-align: center;
	}

.float1_image {
	float: left;
	width: 10%;
	max-width:400px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.center1-image-container {
	text-align:center;
}

.center1-image-div {
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	width:90%;
	font-size:50%;
}

.center1-image {
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.polaroid-container {
  text-align: center;
  padding: 10px 20px;
}

/***************************************************************
 *                      NAVIGATION BAR                         *
 ***************************************************************/

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: white;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  border-bottom-color: #09657e;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
  text-shadow: -.60px -.60px 0 black,
                .60px .60px black;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* MOBILE */
.container-langflags {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-left: 0px;

}

.langflag {
	display: grid;
	align-items: center;
        justify-items: center;
	/*margin-left: 1em;*/
	/*margin-right: 1em;*/
}

.langflag img {
	height: 1.5em;
	width: 1.5em;
}

.langflagfooter {
	display: inline;
}

/* LANDSCAPE */

@media screen and (orientation: landscape) and (min-width: 850px) {
	.nav-toggle-label {
		display: none;
	}

	.wrapper-footer {
		max-width: 940px;
		margin: 0 0px;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas:
			"left-footer center-footer right-footer"
			"bottom-footer bottom-footer bottom-footer";
	}

		.bottom-footer {
        		grid-gap: 40px;
		}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}
  
	.three-column-skyline {
                grid-template-columns: 1fr 2fr 2fr 1fr;
                grid-template-areas:
                        "left-three-column-content center-three-column-skyline center-three-column-skyline right-three-column-content";
                font-size: 150%;
	}

        	.center-three-column-skyline {
        	        grid-area: center-three-column-skyline;
        	}







	/* Avvocati page only temporary */
	.three-column-content-avv {
                margin-top: 150px;
                grid-template-columns: 1fr 5fr 1fr;
                grid-template-areas:
                        "left-three-column-content center-three-column-content right-three-column-content";
                font-size: 150%;

                /* vertical line separator */
                padding-bottom: 3em;
                /* vertical line separator */
	}



	.three-column-content {
		/*margin-top: 400px;*/
        	grid-template-columns: 1fr 5fr 1fr;
        	grid-template-areas:
        	        "left-three-column-content center-three-column-content right-three-column-content";
		font-size: 150%;

		/* vertical line separator */
                padding-bottom: 3em;
                /* vertical line separator */

	}

	.left-three-column-content {
		display:unset;
		padding-left: 1.2em;
	}

	.center-three-column-content {
                /* vertical line separator */
                border-left: thin solid #C0C0C0;
                border-right: thin solid #C0C0C0;
                padding-left: 3em;
                padding-right: 3em;
                /* vertical line separator */

	}

		.left-three-column-content2 ul ul {
                	display: block;
                        list-style-type: none;
			padding-left: 0em;
                }

		.left-three-column-content2 li {
			margin-bottom: 0.4em;
			text-align: left;
		}

		.ul-professionisti {
			padding-left:0.8em;
		}

		.ul-professionisti-avv {
			display: block;
			list-style-type: none;
		}

		/* ******************************************** */
		.right-three-column-content li {
			text-align: left;
			padding-left:0.5em;
		}

                .right-three-column-content2 ul ul {
                        display: block;
                        list-style-type: none;
			padding-left: 0em;
                }

                .right-three-column-content ul ul {
                        display: block;
                        list-style-type: none;
			padding-left: 0em;
                }

        .center-three-column-content-i-professionisti {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                text-align: center;

                /* vertical line separator */
                border-left: thin solid #C0C0C0;
                border-right: thin solid #C0C0C0;
                padding-left: 1em;
                padding-right: 1em;
                /* vertical line separator */

        }

	.soci {
		grid-column: 1/4;
  		grid-row: 1/1;
	}

	.associati {
		grid-column: 1/4;
		grid-row: 3/3;
	}

	.collaboratori {
		grid-column: 1/4;
		grid-row: 6/6;
	}

	.collaboratori-esterni {
		grid-column: 1/4;
		grid-row: 9/9;
	}


        .hidden {
                display: unset;
        }

        .center-three-column-content-i-professionisti img {
                max-width: 9em;
        }

/* avvocato page landscape */

        .avvocato-page-content-wrapper {
		margin-top: 0px;
                display: grid;
		grid-template-columns: 1fr 3fr;
		/*grid-template-rows: auto;*/
                grid-template-areas:
                        "avvocato-page-content-header avvocato-page-content-header"
                        "avvocato-page-content-left avvocato-page-content-right"
                        ". avvocato-page-content-footer";
                font-size: 120%;
                grid-gap: 1em;
		justify-items: left;

		/* vertical line separator */
                border-left: thin solid #C0C0C0;
                border-right: thin solid #C0C0C0;
                padding-left: 3em;
                padding-right: 3em;
                /* vertical line separator */


        }

		.avvocato-page-content-header {
			text-align: left;
		}

		.avvocato-page-content-left img {
			width: 100%;
		}

		.avvocato-page-content-footer {
			/* horizontal line separator */
                	border-top: thin solid #255b76;
        	        padding-top: 1em;
	                width: 100%;
			text-align: left;
			/* horizontal line separator */
		}
		
	.float1_container{
	        text-align: justify;
	        text-justify: inter-word;
	        margin-right: 2px;
	        margin-left: 2px;
	}

	.float1_image{
	        float: left;
	        width: 20%;
	        margin-top: 10px;
	        margin-right: 10px;
	        margin-bottom: 10px;
	}

	.logo {
		grid-column: 2 / 3;
	}
  
	.logo > img {
		min-width: 223px;
		width:50%;
		height:50%;
	}

	nav {
		// all: unset; /* this causes issues with Edge, since it's unsupported */
    
		position: relative;
		text-align: left;
		transition: none;
		transform: scale(1,1);
		background: none;
		top: initial;
		left: initial;
		/* end Edge support stuff */
    
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

/* LANDSCAPE */
.langflagfooter {
	display: block;
}

.container-langflags {
        margin-left: 0em;
        margin-right: 0em;

}

.langflag {
        display: grid;
        align-items: center;
        justify-items: center;
        margin-left: 1em;
        /*margin-right: 1em;*/
}

.langflag img {
        height: 2em;
        width: 2em;
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
        body {
                background: white;
        }

	nav a {
		font-size: .8rem;
	}
	
	.logo > img {
	    min-width: 1em;
	    width: 50%;
	    height: 50%;
	}

	.three-column-content {
    		grid-template-columns: 1fr 3fr 1fr;
		font-size: .8rem;
	}

	.three-column-content-avv {
    		grid-template-columns: 1fr 3fr 1fr;
		font-size: .8rem;
	}
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
	body {
		background: white;
	}

	nav a {
		font-size: 1rem;
	}

	.logo > img {
	    min-width: 1em;
	    width: 50%;
	    height: 50%;
	}

	.three-column-content {
    		grid-template-columns: 1fr 3fr 1fr;
		font-size: 1rem;
	}

	.three-column-content-avv {
    		grid-template-columns: 1fr 3fr 1fr;
		font-size: 1rem;
	}
}

@media screen and (orientation: landscape) and (min-width: 1920px) {
	body {
		background: white;
	}

	nav a {
		font-size: 1.8rem;
	}

	.logo > img {
	    min-width: 1em;
	    width: 50%;
	    height: 50%;
	}

	.three-column-content {
    		grid-template-columns: 1fr 3fr 1fr;
		font-size: 1.8rem;
	}

	.three-column-content-avv {
    		grid-template-columns: 1fr 3fr 1fr;
		font-size: 1.8rem;
	}
}

/* LANDSCAPE 4k */
@media screen and (orientation: landscape) and (min-width:3000px) {
	body {
		background: white;
	}

	nav a {
		font-size: 4rem;
	}

	.logo > img {
	    min-width: 1em;
	    width: 50%;
	    height: 50%;
	}

	.three-column-content {
		margin-top: 400px;
		font-size: 4rem;
	}

	.three-column-content-avv {
		margin-top: 400px;
		font-size: 4rem;
	}
}
